<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="content">
<center><h1>Price of the House using Linear Regression Model</h1></center>
<center><h2>Enter all the values below in the given boxes to predict the price</h2></center>
<center><img src="https://miro.medium.com/max/1024/0*YMZOAO8QE4bZ4_Rk.jpg" alt="Error" width="1000" height="500"></center>
<div class="form">
<form action="/predict" method="post"> 
<input type="number" name="bedrooms" placeholder="bedrooms">
<input type="number" name="bathrooms" placeholder="bathrooms">
<input type="number" name="sqft_living" placeholder="sqft_living">
<input type="number" name="sqft_lot" placeholder="sqft_lot">
<input type="number" name="floors" placeholder="floors">
<input type="number" name="waterfront" placeholder="waterfront">
<input type="number" name="view" placeholder="view">
<input type="number" name="condition" placeholder="condition">
<input type="number" name="sqft_above" placeholder="sqft_above">
<input type="number" name="sqft_basement" placeholder="sqft_basement">
<input type="number" name="yr_built" placeholder="yr_built">
<input type="number" name="yr_renovated" placeholder="yr_renovated">
<input type="submit" value="predict">

    
         </form>   
</div>
</div>
</body>
</html>
